* {
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 39px;
  width: fit-content;
  margin: 1rem auto;
}

h2 {
  font-size: 2rem;
}



p {
  margin: 0;
  padding: 0.5rem;
}

.book-collection {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 2rem auto;
  border: 2px solid black;
}

.book-collection div:nth-child(odd) {
  background-color: rgb(196, 196, 196);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  margin-right: 0.5rem;
  padding: 3px;
}

hr {
  width: 100px;
  border: 2px solid black;
  border-radius: 4px;
  margin: auto;
  margin-bottom: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: auto;
  gap: 1rem;
}

.add {
  width: fit-content;
  align-self: flex-end;
}
