* {
  font-family: 'Comfortaa', cursive;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
  list-style: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 0.5rem;
  border: 2px solid black;
}

nav ul {
  display: flex;
  gap: 1rem;
}

h1 {
  font-size: 38px;
  width: fit-content;
  margin: 1rem auto;
}

h2 {
  font-size: 2rem;
}

p {
  padding: 0.5rem;
}

input {
  padding: 0.5rem;
  border: 1px solid black;
}

button {
  margin-right: 0.5rem;
  padding: 3px;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 0.5rem;
  border: 2px solid black;
}

.book-collection {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  max-width: 600px;
  margin: auto;
}

.book-collection div:nth-child(odd) {
  background-color: rgb(196, 196, 196);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: auto;
  gap: 1rem;
}

.add {
  width: fit-content;
  align-self: flex-end;
  margin: 0;
}

.contact-information {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
}

.contact-information ul {
  margin-left: 3rem;
  line-height: 1.5rem;
}

.contact-information ul li {
  list-style: disc;
}

.noshow {
  display: none;
}

section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.booklist {
  width: 100%;
}
